<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hello, from Flask Templates!</h1>
    <p>Test text goes here</p>
    <p>Current Datetime: {{ current_datetime }}</p>

    <hr>
    <h2>Users</h2>
    <p>
        <ul>
            {% for user in users %}
                <li>{{ user }}</li>
            {% endfor %}
        </ul>
    </p>

    <hr>
    <h2>Random Number</h2>
    {% if random_number <= 5 %}
        <p style="color: red">{{ random_number }}</p>
    {% else %}
        <p style="color: blue">{{ random_number }}</p>
    {% endif %}
</body>
</html>