<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <div class="card-body">
      <p class="card-text">
        {{ post.text }}
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">Like</button>
        </div>
        <small class="text-muted">
          {{ post.user.email }}
        </small>
        <small class="text-muted">
          {{ post.post_date }}
        </small>
      </div>
    </div>
  </div>
</div>
